
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<% if @article.avatar.present? %>
  <p><%= image_tag @article.avatar.variant(resize: "200x200>") %></p>
<% end -%>
<p><%= @article.comments %></p>
<p><%= @article.user.email %></p>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></li>
  <% if current_user.present? %>
    <% if @article.user.id != current_user.id %>
      
        <h5><%= button_to "Follow", follow_user_path(@article.id), method: "POST"  %></h5>
      
    <% end %>
  <% end %>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>